
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content:space-around;
  padding: 10px 15px ;
  background: linear-gradient(90deg, #f88888, #f06060);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-logo {
  font-size: 1.5em;
  font-weight: bold;
}

.header-nav {
  display: flex;
  gap: 20px;
}

.header-nav a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
}

.header-nav a:hover {
  color: #ffcccc;
}

button {
  width: 120px;
  height: 50px;
  border-radius: 25px;
  background-color: #9292f5;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #7070db;
  transform: scale(1.05);
}

button:active {
  background-color: #5a5ac7;
  transform: scale(0.95);
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
}



.central-container {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right, #f75e5e, #ff4848, #e0e0e0);
  padding: 20px 0;
}


.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  max-width: 960px;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}


.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #fff;
  text-align: center;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 4px;
}

.card h2 {
  font-size: 1.2rem;
  margin: 10px 0;
}

.card p {
  font-size: 0.9rem;
  color: #555;
}
